/*  ========================= [ Règles générales ]====================================== */
body{
    background-image: url(/images/pattern.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
}

h1{
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
    padding: 1rem;
    border: 2px solid white;
    border-radius: 20px;
    width: 100%;
    text-align: center;
}

.main-container{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
}

form{
    text-align: center;
}

.btn{
    margin:1rem;
}

.btn a{
    text-decoration: none;
    color:white;
}

/* ===========================================[ NAVBAR ]===================================== */
.navbar{
    height: 7rem;
    box-shadow: 5px 0px 5px black;
}

/*  ===================== [ Landing page : liste des candidatures] ============================ */
.block-body{
    margin-top: ;
    /* background-color: rgb(241, 241, 241); */
    background-image: url(/images/business-team-meeting-boardroom.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.main-container{
    margin-top:7rem;
}


/* Cartes */
.card{
    border-radius: 20px;
    overflow: hidden;
    padding:0;
    box-shadow: 0px 0px 5px black;
}
.card-header{
    background-color: rgb(173, 173, 173);
}

.new-candidature{
    margin: 10px;
    padding: 10px;
}

/* ======================== [ Création nouvelle candidature ] ======================== */
.block-body-new{
    margin-top: 0;
    background-image: url(/images/tech-meeting-flatlay.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.form-row{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    border: 1px solid black;
    padding: 1rem 0;
}

#candidature{
    
}

/*  ===========================[ Voir la candidature ]==================================== */
