<div class="form-row justify-content-center">
    {{ form_start(rdvForm) }}
        {{ form_widget(rdvForm) }}
        <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(rdvForm) }}
</div>