{% extends 'base.html.twig' %}

{% block title %}Edit Candidature{% endblock %}

{% block body %}
    <div class="block-body-edit">
        <div class="container edit-container">
            <h1>Editer la Candidature</h1>

            {{ include('candidature/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

            <button type="button" class="btn btn-secondary">
                <a href="{{ path('candidature_index') }}">Retour à la liste</a>
            </button>

            {{ include('candidature/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
